<!DOCTYPE html>
<html>
<head>
  <title>Your Donation</title>
</head>
<body>
  <h1>Hello Stranger!</h1>
  <p>As you are probably aware of, you just donated to the ProxMate project.</p>
  <p>We here want to give you a big fat thank you. Without people like you, we would never be where we currently are. A lot of sweat, money and time is required to keep ProxMate and it's community alive.</p>
  <p>Since you donated, you will now have access to additional features and extra modules. All you have to do is enter the following key in ProxMate's options: '<strong><%= donationKey %></strong>'. (Make sure to copy everything between the quotes)</p>
  <p>If you have any questions, please don't hesitate to reply to this email directly. We are happy to help with whatever issues you might have!</p>
  <p>&nbsp;</p>
  <p>Best regards,</p>
  <p>David and the ProxMate Team</p>
</body>
</html>
